 body{
     margin:0;
     padding: 0;
 }

 *{
     box-sizing: border-box;
 }
 
 /* reset CSS ou feuille de style, à voir*/
 
 
 span {
            border: 1px solid black;
            background-color: lightgrey;
            position: relative;
        }
        
        span:hover {
            left: 10px;
            top: 10px;
        }
        
        #div1 {
            border: 3px dashed green;
            background-color: lightgreen;
        }
        
        ul {
            list-style: none;
            padding-left: 0;
        }
        
        li {
            border: 2px solid #2f1f1f;
            background-color: black;
            color: rgb(200, 200, 200);
            width: 10em;
            padding: 3px;
        }
        
        li:hover {
            background-color: red;
            cursor: pointer;
        }
        
        #div2 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: pink;
        }
        
        #encart,
        #encartGauche {
            word-break: break-all;
            height: 100%;
        }
        
        #encarts {
            position: absolute;
            right: 2em;
            bottom: 2em;
            left: 2em;
            background-color: green;
            height: 30%;
        }
        
        #encart {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 7em;
            background-color: blue;
        }
        
        #encartGauche {
            position: absolute;
            right: 7em;
            bottom: 0em;
            left: 0em;
            background-color: greenyellow;
        }